* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    padding: 25px 0;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    font-family: monospace;
}

h1 {
    font-size: 16px;
}

img {
    margin: 12px 0;
}

button {
    outline: none;
    border: none;
    color: #fff;
    padding: 6px 12px;
    background-color: #000;
    font-family: monospace;
}
